* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Georgia", serif;
  background-color: var(--violet-100);
}

:root {
  --violet-100: oklch(94.3% 0.029 294.588);
  --violet-200: oklch(89.4% 0.057 293.283);
  --slate-800: oklch(27.9% 0.041 260.031);
  --red-600: oklch(57.7% 0.245 27.325);
  --red-500: oklch(63.7% 0.237 25.331);
  --yellow-500: oklch(79.5% 0.184 86.047);
  --yellow-400: oklch(85.2% 0.199 91.936);
  --green-600: oklch(62.7% 0.194 149.214);
  --green-500: oklch(72.3% 0.219 149.579);
  --zinc-300: oklch(87.1% 0.006 286.286);
  --gray-500: oklch(55.1% 0.027 264.364);
  --gray-400: oklch(70.7% 0.022 261.325);
  --green-300: oklch(87.1% 0.15 154.449);
  --red-300: oklch(80.8% 0.114 19.571);
  --green-200: oklch(92.5% 0.084 155.995);
  --red-200: oklch(88.5% 0.062 18.334);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 10px;
  background-color: var(--violet-200);
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: var(--violet-200);
}

.conteneur-principal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.conteneur-corps {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.tpe {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 20px;
  background-color: var(--slate-800);
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.tpe .ecran {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 150px;
  color: black;
  background-color: var(--zinc-300);
  padding: 10px;
  border-radius: 5px;
  span {
    text-align: center;
  }
}

.tpe .tpe-boutons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.tpe .tpe-boutons button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid var(--gray-500);
  background-color: var(--gray-500);
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.tpe .tpe-boutons button:hover {
  background-color: var(--gray-400);
}

.tpe .tpe-boutons button:active {
  border: 1px solid white;
}

.bouton-tpe-rouge {
  color: var(--red-600) !important;
  border-color: var(--red-600) !important;
  background-color: transparent !important;
}

.bouton-tpe-rouge:hover {
  background-color: var(--red-500) !important;
  color: white !important;
  border-color: white !important;
}

.bouton-tpe-jaune {
  color: var(--yellow-500) !important;
  border-color: var(--yellow-500) !important;
  background-color: transparent !important;
}

.bouton-tpe-jaune:hover {
  background-color: var(--yellow-400) !important;
  color: white !important;
  border-color: white !important;
}

.bouton-tpe-vert {
  color: var(--green-600) !important;
  border-color: var(--green-600) !important;
  background-color: transparent !important;
}

.bouton-tpe-vert:hover {
  background-color: var(--green-500) !important;
  color: white !important;
  border-color: white !important;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1000;
  padding: 20px;
  background-color: var(--zinc-300);
  button {
    border: 3px solid black;
    padding: 3px;
    font-size: 20px;
  }
  .btn-annulation-transaction {
    align-self: flex-end;
  }
  .btn-reussite-transaction {
    background-color: var(--green-300);
  }
  .btn-reussite-transaction:hover {
    background-color: var(--green-200);
  }

  .btn-echec-transaction {
    background-color: var(--red-300);
  }
  .btn-echec-transaction:hover {
    background-color: var(--red-200);
  }
  button:hover {
    cursor: pointer;
  }
}

.modal h2 {
  text-align: center;
}

.modal[hidden] {
  display: none;
}
